<form id="form_login" action="/autenticar" method="post">
  <div class=" d-flex justify-content-between">
    <span></span>
    <div class="btn btn_login">
       <i class="bi bi-x-lg fs-2" ></i>
    </div>
   
  </div>
  <div id="login-info" role="alert">
  </div>
    <div class="mb-3">
      
            <label for="email" class="form-label">Email </label>
      <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
        

    </div>
    <div class="mb-3">
      <label for="senha" class="form-label">senha</label>
      <input type="password" class="form-control" id="senha">
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>